<form id="changePasswordForm" name="ctrl.changePasswordForm" novalidate>
    <div class="list list-inset">
        <label class="item item-input" ng-class="{ 'has-error' : ctrl.changePasswordForm.newPassword.$invalid && (ctrl.changePasswordForm.newPassword.$dirty || ctrl.changePasswordForm.$submitted)}">
            <input id="newPassword" name="newPassword" type="password" placeholder="Nova contrasenya"
                   ng-model="ctrl.newPassword" required>
            <i ng-if="ctrl.changePasswordForm.newPassword.$invalid && (ctrl.changePasswordForm.newPassword.$dirty || ctrl.changePasswordForm.$submitted)" class="icon ion-alert-circled assertive icon-input-left"></i>
        </label>
        <label class="item item-input" ng-class="{ 'has-error' : ctrl.changePasswordForm.repeatNewPassword.$invalid && (ctrl.changePasswordForm.repeatNewPassword.$dirty || ctrl.changePasswordForm.$submitted)}">
            <input id="repeatNewPassword" name="repeatNewPassword" type="password"  placeholder="Confirma la nova contrasenya"
                   ng-model="ctrl.repeatNewPassword"
                   equals="ctrl.newPassword" required>
            <i ng-if="ctrl.changePasswordForm.repeatNewPassword.$invalid && (ctrl.changePasswordForm.repeatNewPassword.$dirty || ctrl.changePasswordForm.$submitted)" class="icon ion-alert-circled assertive icon-input-left"></i>
        </label>
    </div>
</form>