<ion-view cache-view="false">
	<ion-nav-title>
		<trueking-Logo-title>Perfil</trueking-Logo-title>
	</ion-nav-title>
	<ion-content>
		<div class="profile-bg"></div>
		<div class="profile-header">
			<div class="profile-info">
				<img class="profile-image" image-detail="ctrl.profile.profilePicture? ctrl.profile.profilePicture:ctrl.imageNotFoundPicture">
			</div>
			<div class="row">
				<div class="col-33 col-offset-33">
					<h3 class="text-center" style="color: dimgrey">
						{{::ctrl.profile.name}}
						<button style="bottom:15px" class="button button-large button-icon ion-camera light"
								ng-if="ctrl.canEditProfile" on-tap="ctrl.takeProfilePicture($event)"></button>
					</h3>
				</div>
				<div class="col-33" style="text-align: right">
					<button style="bottom:-10px" class="button button-icon button-large ion-edit light"
							ng-if="ctrl.canEditProfile && !ctrl.editingGeneralInfo" on-tap="ctrl.editingGeneralInfo=true"></button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-80 col-offset-10">
				<form id="profileForm" name="profileForm" ng-submit="profileForm.$valid && ctrl.saveProfile()" novalidate>
					<fieldset ng-disabled="!ctrl.editingGeneralInfo">
						<div class="list list-inset">
							<label class="item item-input item-stacked-label" ng-class="{ 'has-error' : profileForm.name.$invalid && (profileForm.name.$dirty || profileForm.$submitted)}">
								<span class="input-label">Nom</span>
								<div class="row">
									<div class="col-90">
										<input id="name" name="name" type="text" ng-model="ctrl.profile.name" required>
									</div>
									<div class="col-10" style="text-align: right">
										<i ng-if="profileForm.name.$invalid && (profileForm.name.$dirty || profileForm.$submitted)" class="icon ion-alert-circled assertive icon-input-left"></i>
									</div>
								</div>
							</label>
							<label class="item item-input item-stacked-label" ng-class="{ 'has-error' : profileForm.surnames.$invalid && (profileForm.surnames.$dirty || profileForm.$submitted)}">
								<span class="input-label">Cognoms</span>
								<div class="row">
									<div class="col-90">
										<input id="surnames" name="surnames" type="text" ng-model="ctrl.profile.surnames" required>
									</div>
									<div class="col-10" style="text-align: right">
										<i ng-if="profileForm.surnames.$invalid && (profileForm.surnames.$dirty || profileForm.$submitted)" class="icon ion-alert-circled assertive icon-input-left"></i>
									</div>
								</div>
							</label>
							<label class="item item-input item-stacked-label" ng-class="{ 'has-error' : profileForm.zipCode.$invalid && (profileForm.zipCode.$dirty || profileForm.$submitted)}">
								<span class="input-label">Codi postal</span>
								<div class="row">
									<div class="col-90">
										<input id="zipCode" name="zipCode" type="text" ng-model="ctrl.profile.zipCode" required>
									</div>
									<div class="col-10" style="text-align: right">
										<i ng-if="profileForm.zipCode.$invalid && (profileForm.zipCode.$dirty || profileForm.$submitted)" class="icon ion-alert-circled assertive icon-input-left"></i>
									</div>
								</div>
							</label>
							<label class="item item-input item-stacked-label" ng-class="{ 'has-error' : profileForm.userName.$invalid && (profileForm.userName.$dirty || profileForm.$submitted),
                                                                              'has-success': profileForm.userName.$valid && profileForm.userName.$dirty}">
								<span class="input-label">Nom d'usuari</span>
								<div class="row">
									<div class="col-90">
										<input id="userName" name="userName" type="text" ng-model="ctrl.profile.credentials.userName"
											   ng-model-options="{ debounce: 500 }" async-validator="ctrl.profileChangeUserNameAsincValidator(data)" required>
									</div>
									<div class="col-10"  style="text-align: right">
										<i ng-if="profileForm.userName.$invalid && (profileForm.userName.$dirty || profileForm.$submitted)" class="icon ion-alert-circled assertive icon-input-left"></i>
										<i ng-if="profileForm.userName.$valid && profileForm.userName.$dirty" class="icon ion-checkmark-circled balanced icon-input-left"></i>
										<ion-spinner ng-if="profileForm.userName.$pending" icon="spiral"></ion-spinner>
									</div>
								</div>
							</label>
							<label class="item item-input item-stacked-label" ng-class="{ 'has-error' : profileForm.email.$invalid && (profileForm.email.$dirty || profileForm.$submitted),
                                                                              'has-success': profileForm.email.$valid && profileForm.email.$dirty}">
								<span class="input-label">email</span>
								<div class="row">
									<div class="col-90">
										<input id="email" name="email" type="email" ng-model="ctrl.profile.email"
											   ng-model-options="{ debounce: 500 }" async-validator="ctrl.profileChangeMailAsincValidator(data)" required>
									</div>
									<div class="col-10"  style="text-align: right">
										<i ng-if="profileForm.email.$invalid && (profileForm.email.$dirty || profileForm.$submitted)" class="icon ion-alert-circled assertive icon-input-left"></i>
										<i ng-if="profileForm.email.$valid && profileForm.email.$dirty" class="icon ion-checkmark-circled balanced icon-input-left"></i>
										<ion-spinner ng-if="profileForm.email.$pending" icon="spiral"></ion-spinner>
									</div>
								</div>
							</label>
						</div>
					</fieldset>
					<fieldset ng-if="ctrl.editingGeneralInfo">
						<div class="row">
							<div class="col">
								<button type="button" class="button button-block button-stable" on-tap="ctrl.cancelEdit()">
									Cancel·lar
								</button>
							</div>
							<div class="col">
								<button type="submit" class="button button-block button-balanced">
									Guardar
								</button>
							</div>
						</div>
					</fieldset>
				</form>
				<br>
				<fieldset ng-if="ctrl.canEditProfile">
					<button class="button button-block button-balanced" on-tap="ctrl.changePasswordPopup()">
						Modificar contrasenya
					</button>
					<button class="button button-block button-positive" on-tap="ctrl.logout()">
						Log out
					</button>
					<button class="button button-block button-assertive" on-tap="ctrl.deleteAccount()">
						Esborrar compte
					</button>
				</fieldset>
				<fieldset ng-if="!ctrl.canEditProfile">
					<button class="button button-block button-positive" on-tap="ctrl.navigateToUserWishes()">
						Veure desitjos
					</button>
					<button class="button button-block button-positive" on-tap="ctrl.navigateToUserOfferts()">
						Veure les seves ofertes
					</button>
				</fieldset>
			</div>
		</div>
	</ion-content>
</ion-view>
