<ion-popover-view class="fit">
    <ion-content>
        <ion-list>
            <ion-item class="item item-icon-left" on-tap="ctrl.takePictureFromCamera()">
                <i class="icon ion-camera"></i>
                Camera
            </ion-item>
            <ion-item class="item item-icon-left" on-tap="ctrl.takePictureFromGallery()">
                <i class="icon ion-images"></i>
                Galeria
            </ion-item>
        </ion-list>
    </ion-content>
</ion-popover-view>