<ion-modal-view>
	<ion-header-bar class="bar-balanced">
		<h1 class="title">Articles disponibles</h1>
		<div class="buttons">
			<button class="button button-icon ion-close" on-tap="ctrl.availableItemsModal.hide()"></button>
		</div>
	</ion-header-bar>
	<ion-content>
		<tk-item-card-list ng-model="ctrl.availableItems" my-profile-id="ctrl.myProfile.id" multiselect="true"></tk-item-card-list>
	</ion-content>
	<ion-footer-bar style="padding: 0;border-top:0px transparent">
		<div class="button-bar">
			<button type="button" class="button button-balanced" on-tap="ctrl.addOffertedItems()">Seleccionar</button>
		</div>
	</ion-footer-bar>
</ion-modal-view>
