<ion-view>
	<ion-nav-title>
		<trueking-Logo-title>Trueking</trueking-Logo-title>
	</ion-nav-title>
	<ion-nav-buttons side="right">
		<button class="button button-clear icon ion-checkmark-round" on-tap="ctrl.createTrueking()"></button>
	</ion-nav-buttons>
	<ion-content>
		<div class="item item-divider">
			<span style="font-size: 18px;">Articles ofertats</span>
		</div>
		<tk-item-card-list ng-model="ctrl.trueking.otherPart.items" my-profile-id="ctrl.myProfile.id"></tk-item-card-list>
		<div class="item item-divider">
			<span style="font-size: 18px;">Articles oferits</span>
			<button style="float:right; padding-top: -10px" type="button" class="button button-small button-clear icon ion-plus"
					on-tap="ctrl.showAvailableItemsModal()"></button>
			<button style="float:right; padding-top: -10px" type="button" class="button button-small button-clear icon ion-minus"
					on-tap="ctrl.removeOffertedItems()"></button>
		</div>
		<tk-item-card-list ng-model="ctrl.trueking.selfPart.items" my-profile-id="ctrl.myProfile.id" multiselect="true"></tk-item-card-list>
	</ion-content>
</ion-view>
