<ion-view cache-view="false">
    <ion-nav-title>
        <trueking-Logo-title>Ofertes</trueking-Logo-title>
    </ion-nav-title>
    <ion-content>
        <fieldset ng-if="ctrl.currentItems.length">
            <div class="item item-divider">
                Actuals
            </div>
            <tk-item-card-list ng-model="ctrl.currentItems" my-profile-id="ctrl.myProfile.id"></tk-item-card-list>
        </fieldset>
        <fieldset ng-if="ctrl.historicalItems.length">
            <div class="item item-divider">
                Històrics
            </div>
            <tk-item-card-list ng-model="ctrl.historicalItems" my-profile-id="ctrl.myProfile.id"></tk-item-card-list>
        </fieldset>
    </ion-content>
    <button ng-if="ctrl.canEditOfferts" class="button button-float" ui-sref="newItem">
        <i class="icon ion-plus"></i>
    </button>
</ion-view>
