.item-icon-left ion-spinner {
    float: left;
    margin-left: -3.2em;
    margin-right: 1em;
    margin-top: -0.2em;
}

.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 100px;
}

.transparent {
    background: transparent !important;
}

.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}

.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}

.slider {
    width: 100%;
    height: 100%;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
    .active .modal-backdrop-bg {
        opacity: .5;
    }
    .modal-backdrop-bg {
        -webkit-transition: opacity 300ms ease-in-out;
        transition: opacity 300ms ease-in-out;
        background-color: #000;
        opacity: 0;
    }
}

.button-float{
	color:white !important;
	z-index: 12 !important;
	position: absolute !important;
	bottom: 0;
	bottom: 10px !important;
	right: 10px !important;
	border-radius: 50% !important;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
	-webkit-transform: translate3d(0, 0, 0) !important;
	transform: translate3d(0, 0, 0) !important;
	-webkit-transition: 0.2s linear !important;
	transition: 0.2s linear !important;
	-webkit-transition-property: -webkit-transform, all !important;
	transition-property: transform, all !important;
	background-color: #33cd5f;
}

.button-float:hover{
	-webkit-transform: translate3d(0, -1px, 0)  !important;
	transform: translate3d(0, -1px, 0) !important;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4) !important;
	background-color: #33cd5f;
}

.centered-col-content {
    text-align: center;
}

.has-error {
    border-left: 3px solid #cc2511;
    border-right: 3px solid #cc2511;
}

.has-success {
    border-left: 3px solid #006600;
    border-right: 3px solid #006600;
}

.icon-input-left {
    margin-right: 8px;
}

.pull-center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

fieldset {
    margin:0;
    border:0;
    padding:0;
}

.sticky-header .list {
    margin-top:0;
}

.zoom-pane {
    width: 100% !important;
    height: 100% !important;
}

.zoom-pane .scroll {
    min-height: 100% !important;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.zoom-pane img {
    width: 100% !important;
    vertical-align: middle !important;
}

.image-modal {
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
    background: black !important;
}

.tags {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.tags li {
    float: left;
}

.tag {
    background: #eee;
    border-radius: 3px 0 0 3px;
    color: #999;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    font-size:10px;
}

.tag::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
}

.tag::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}

.tag:hover {
    background-color: crimson;
    color: white;
}

.tag:hover::after {
    border-left-color: crimson;
}
