<ion-view cache-view="false">
	<ion-nav-title>
		<trueking-Logo-title>Truekings</trueking-Logo-title>
	</ion-nav-title>
	<ion-content>
		<ion-refresher
			pulling-text="Estira per refrescar..."
			on-refresh="ctrl.doRefresh()">
		</ion-refresher>
		<ion-list>
			<ion-item ng-repeat="trueking in myTruekings" on-tap="ctrl.navigateToTrueking(trueking)">
				<p>{{trueking.selfPart.items[0].name}},...->{{trueking.otherPart.items[0].name}},...</p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
