.home-bg .pane, .home-bg .scroll-content{
     background-color: lightgray;
 }

.home-bg .home-menu-bg.scroll-content{
    background-color: white;
}

.bar.bar-menu-profile {
    height: 130px !important;
    background: url('../common/assets/pictures/menu_profile_bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.image-profile-menu {
    border-radius:50%;
    height:80px;
    width:80px;
    cursor: pointer;
}

.has-bar-menu-profile{
    top:130px;
}