<ion-view class="home-bg">
    <ion-side-menus>
        <!-- Left menu -->
        <ion-side-menu side="left">
            <ion-header-bar class="bar-menu-profile">
                <div class="row row-center">
                    <div class="col-33">
                        <img class="image-profile-menu pull-center" ng-src="{{ctrl.profilePicture}}"
                             menu-close on-tap="ctrl.goToMyProfile()">
                    </div>
                    <div class="col-66">
                        <h4 class="stable" ng-bind="ctrl.myProfile.name"></h4>
                    </div>
                </div>
            </ion-header-bar>

            <ion-content class="has-bar-menu-profile home-menu-bg">
                <div class="list">
                    <div class="item item-divider">
                        Menú
                    </div>
                    <a menu-close class="item item-icon-left" ui-sref="items">
                        <i class="icon ion-ios-pricetags"></i>
                        Buscar articles
                    </a>
                    <a menu-close class="item item-icon-left" ui-sref="myWishes">
                        <i class="icon ion-ios-color-wand"></i>
                        Els meus desitjos
                    </a>
                    <a menu-close class="item item-icon-left" ui-sref="myOfferts">
                        <i class="icon ion-ios-home"></i>
                        Les meves ofertes
                    </a>
					<a menu-close class="item item-icon-left" ui-sref="myTruekings">
						<i class="icon ion-thumbsup"></i>
						Els meus trueks
					</a>
                </div>
            </ion-content>

        </ion-side-menu>

        <!-- Main content -->
        <ion-side-menu-content>

            <!-- Main content nav bar -->
            <ion-nav-bar class="bar-balanced">
                <ion-nav-buttons side="left">
                    <!-- Toggle left side menu -->
                    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
                </ion-nav-buttons>
                <ion-nav-buttons side="right">
                    <!-- Toggle right side menu -->
                    <button menu-toggle="right" class="button button-icon icon ion-chatbubble-working"></button>
                </ion-nav-buttons>
                <ion-nav-back-button></ion-nav-back-button>
            </ion-nav-bar>

            <ion-nav-view></ion-nav-view>
        </ion-side-menu-content>

        <!-- Right menu -->
        <ion-side-menu side="right">
        </ion-side-menu>

    </ion-side-menus>
</ion-view>
