<ion-popover-view class="fit">
    <ion-content>
        <ion-list>
            <ion-item class="item item-icon-left" on-tap="ctrl.removePictureFromGallery(ctrl.imageIndex)">
                <i class="icon ion-trash-b"></i>
                Eliminar
            </ion-item>
        </ion-list>
    </ion-content>
</ion-popover-view>