<a class="item item-list-detail">
    <ion-scroll direction="x">
        <gallery-image ng-repeat="image in ctrl.images"
                       src="image" on-tap="ctrl.showImagesDetail($index)" on-hold="ctrl.showRemoveImagePopover($event,$index)">
        </gallery-image>
    </ion-scroll>
</a>