<div class="modal image-modal transparent" ng-click="ctrl.closeImagesDetailModal()">
    <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="true" active-slide="ctrl.imageIndex">
        <ion-slide ng-repeat="image in ctrl.images">
            <img ng-src="{{image}}" class="fullscreen-image"/>
        </ion-slide>
    </ion-slide-box>
</div>