<div class="list card" ng-class="{'card-selected':ctrl.item.selected}">
    <div class="item item-image">
        <img image-detail="ctrl.item.imgs.length? ctrl.item.imgs[0]:ctrl.imageNotFound">
    </div>

    <a class="item" on-tap="ctrl.selectable? ctrl.item.selected=!ctrl.item.selected:ctrl.navigateToItem()">
        <h4 class="pull-center" ng-bind="ctrl.item.name"></h4>
        <fieldset ng-if="ctrl.item.owner === ctrl.myProfileId">
            <p>Característiques:</p>
            <ul class="tags">
                <li ng-repeat = "tag in ctrl.item.tags">
                    <div class="tag" ng-bind="tag"></div>
                </li>
            </ul>
        </fieldset>
        <fieldset ng-if="ctrl.item.owner !== ctrl.myProfileId">
            <p>A canvi de:</p>
            <ul class="tags">
                <li ng-repeat = "tag in ctrl.item.wishedTags">
                    <div class="tag" ng-bind="tag"></div>
                </li>
            </ul>
        </fieldset>
    </a>
</div>
