<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-balanced item-input-inset">
        <button ng-if="!ctrl.searching" class="button icon ion-android-arrow-back"
                on-tap="ctrl.closeModal()"></button>
        <ion-spinner style="padding-right: 5px" ng-if="ctrl.searching" icon="spiral"></ion-spinner>
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Buscador" ng-model="ctrl.search"
                   ng-model-options="{ debounce: 500 }" ng-change="ctrl.searchTags()">
        </label>
        <button ng-disabled="ctrl.searching" class="button icon ion-plus"
                on-tap="ctrl.selectTag(ctrl.search)"></button>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="tag in ctrl.serviceTags" ng-bind="tag" on-tap="ctrl.selectTag(tag)"></ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>