<div ng-if="!ctrl.disabled" class="card" style="padding: 0;margin-bottom: 0;">
    <div class="button-bar">
        <button type="button" class="button button-balanced ion-plus" on-tap="ctrl.addTag()"> Afegir característica</button>
        <button ng-if="ctrl.wishes && ctrl.wishes.length" type="button" class="button button-balanced ion-ios-color-wand"
                on-tap="ctrl.loadWishlist()"> Importar desitjos</button>
    </div>
</div>
<ion-list type="list-inset" class="sticky-header" show-delete="!ctrl.disabled">
    <div class="item item-divider" ng-bind="(ctrl.listTitle? ctrl.listTitle:'Característiques de l\'article')"></div>
    <ion-item ng-repeat="tag in ctrl.tags">
        <ion-delete-button ng-if="!ctrl.disabled" on-tap="ctrl.deleteTag($index)" class="ion-minus-circled"></ion-delete-button>
        <div ng-bind="tag"></div>
    </ion-item>
</ion-list>