<ion-view hide-nav-bar="true">
    <ion-content>
		<br>
		<br>
		<br>
		<br>
        <div class="row row-center">
            <div class="col-offset-25 col-50">
                <img ng-src="{{ctrl.truekingFullLogo}}" style="width:100%">
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-offset-25 col-50">
                <a class="button button-block icon-left ion-log-in button-balanced" ui-sref="signIn">Sign in</a>
            </div>
        </div>
        <div class="row">
            <div class="col-offset-25 col-50">
                <a class="button button-block icon-left ion-edit button-calm"  ui-sref="signUp">Sign up</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a class="button button-block icon-left ion-social-facebook button-positive">Facebook</a>
            </div>
            <div class="col">
                <a class="button button-block icon-left ion-social-googleplus button-assertive">Google</a>
            </div>
        </div>
    </ion-content>
</ion-view>