ion-popover-view.fit {
  width: auto;
  height: auto;
  ion-content {
    position: relative;
  }
}

.platform-android ion-popover-view.fit {
  margin-top: 10px;
}

.platform-ios ion-popover-view.fit {
  .item:first-child {
    @include border-top-radius($popover-border-radius-ios);
  }
  .item:last-child {
    @include border-bottom-radius($popover-border-radius-ios);
  }
}