.login-bg .pane {
    background: url('../../common/assets/pictures/finger_shake.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}