<ion-modal-view>
    <ion-header-bar class="bar-balanced">
        <h1 class="title">Cerca Avançada</h1>
        <div class="buttons">
            <button class="button button-icon ion-close" on-tap="ctrl.hideSearchModal()"></button>
        </div>
    </ion-header-bar>

    <form id="searchItemsForm" name="ctrl.searchItemsForm" ng-submit="ctrl.searchItems()">
        <ion-content>
            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Cerca per nom" ng-model="ctrl.advancedSearch.name">
                </label>
            </div>

            <ul class="list">
                <li class="item item-toggle">
                    Ofereixo coses que li interessen
                    <label class="toggle toggle-balanced">
                        <input type="checkbox" ng-model="ctrl.advancedSearch.haveTradeChance">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>

                <li class="item item-toggle">
                    Filtar coses que desitjo
                    <label class="toggle toggle-balanced">
                        <input type="checkbox" ng-model="ctrl.advancedSearch.isInMyWishList">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>

                <li class="item item-toggle">
                    Filtrar per proximitat
                    <label class="toggle toggle-balanced">
                        <input type="checkbox" ng-model="ctrl.advancedSearch.isNearMyLocation">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>

            </ul>

            <tags-manager ng-model="ctrl.advancedSearch.tags" wishes="ctrl.myProfile.wishedTags"></tags-manager>

            <div style="height: 35px"></div>

        </ion-content>

        <ion-footer-bar style="padding: 0;border-top:0px transparent" ng-if="ctrl.constructor.name !== 'DetailItemCtrl' && !ctrl.item.historic">
            <div class="button-bar">
                <button type="submit" class="button button-balanced">Cercar</button>
            </div>
        </ion-footer-bar>
    </form>
</ion-modal-view>
