<ion-view>
    <ion-nav-title>
        <trueking-Logo-title>Articles</trueking-Logo-title>
    </ion-nav-title>
    <ion-header-bar class="bar-subheader bar-stable item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Cerca" ng-model="ctrl.quickNameSearch" ng-change="ctrl.searchItemsByName()"
                   ng-model-options="{ debounce: 1000 }">
            <button class="button button-clear icon ion-ios-close-empty" on-tap="ctrl.quickNameSearch=null"></button>
        </label>
        <button class="button icon ion-funnel" on-tap="ctrl.showSearchModal()"></button>
    </ion-header-bar>
    <ion-content has-header="true" has-subheader="true">
        <ion-refresher
                pulling-text="Estira per refrescar..."
                on-refresh="ctrl.doRefresh()">
        </ion-refresher>
        <tk-item-card-list ng-model="ctrl.items" my-profile-id="ctrl.myProfile.id"></tk-item-card-list>
    </ion-content>
</ion-view>
