<ion-view cache-view="false" title="sign-up">
    <ion-content>
        <br>
        <form id="signUpForm" name="signUpForm" ng-submit="signUpForm.$valid && ctrl.createAccount()" novalidate>
            <div class="list list-inset">
                <label class="item item-input" ng-class="{ 'has-error' : signUpForm.name.$invalid && (signUpForm.name.$dirty || signUpForm.$submitted)}">
                    <input id="name" name="name" type="text" placeholder="Nom" ng-model="ctrl.userAccountInfo.name" required>
                    <i ng-if="signUpForm.name.$invalid && (signUpForm.name.$dirty || signUpForm.$submitted)" class="icon ion-alert-circled assertive icon-input-left"></i>
                </label>
                <label class="item item-input" ng-class="{ 'has-error' : signUpForm.surnames.$invalid && (signUpForm.surnames.$dirty || signUpForm.$submitted)}">
                    <input id="surnames" name="surnames" type="text" placeholder="Cognoms" ng-model="ctrl.userAccountInfo.surnames" required>
                    <i ng-if="signUpForm.surnames.$invalid && (signUpForm.surnames.$dirty || signUpForm.$submitted)" class="icon ion-alert-circled assertive icon-input-left"></i>
                </label>
                <label class="item item-input" ng-class="{ 'has-error' : signUpForm.userName.$invalid &&  (signUpForm.userName.$dirty || signUpForm.$submitted),
                                                           'has-success': signUpForm.userName.$valid && (signUpForm.email.$dirty || signUpForm.$submitted)}">
                    <input id="userName" name="userName" type="text" placeholder="Nom d'usuari" ng-model="ctrl.userAccountInfo.credentials.userName"
                           ng-model-options="{ debounce: 500 }" async-validator="ctrl.loginApi.checkUserNameAvailable(data)" required>
                    <i ng-if="signUpForm.userName.$invalid &&(signUpForm.userName.$dirty || signUpForm.$submitted)" class="icon ion-alert-circled assertive icon-input-left"></i>
					<i ng-if="signUpForm.userName.$valid" class="icon ion-checkmark-circled balanced icon-input-left"></i>
					<ion-spinner ng-if="signUpForm.userName.$pending" icon="spiral"></ion-spinner>
				</label>
                <label class="item item-input" ng-class="{ 'has-error' : signUpForm.password.$invalid && (signUpForm.password.$dirty || signUpForm.$submitted)}">
                    <i class="icon ion-ios-eye-outline placeholder-icon"></i>
                    <input id="password" name="password" type="password" placeholder="Contrasenya" ng-model="ctrl.userAccountInfo.credentials.password" required>
                    <i ng-if="signUpForm.password.$invalid && (signUpForm.password.$dirty || signUpForm.$submitted)" class="icon ion-alert-circled assertive icon-input-left"></i>
                </label>
                <label class="item item-input" ng-class="{ 'has-error' : signUpForm.repeatPassword.$invalid && (signUpForm.repeatPassword.$dirty || signUpForm.$submitted)}">
                    <i class="icon ion-ios-eye-outline placeholder-icon"></i>
                    <input id="repeatPassword" name="repeatPassword" type="password" placeholder="Repetir contrasenya" ng-model="ctrl.passwordConfirmation" required
                           equals="ctrl.userAccountInfo.credentials.password">
                    <i ng-if="signUpForm.repeatPassword.$invalid && (signUpForm.repeatPassword.$dirty || signUpForm.$submitted)" class="icon ion-alert-circled assertive icon-input-left"></i>
                </label>
                <label class="item item-input" ng-class="{ 'has-error' : signUpForm.email.$invalid && (signUpForm.email.$dirty || signUpForm.$submitted),
                                                           'has-success': signUpForm.email.$valid && (signUpForm.email.$dirty || signUpForm.$submitted)}">
                    <input id="email" name="email" type="email" placeholder="Email" ng-model="ctrl.userAccountInfo.email"
                           ng-model-options="{ debounce: 500 }" async-validator="ctrl.loginApi.checkEmailAvailable(data)" required>
                    <i ng-if="signUpForm.email.$invalid && (signUpForm.email.$dirty || signUpForm.$submitted)" class="icon ion-alert-circled assertive icon-input-left"></i>
                    <i ng-if="signUpForm.email.$valid" class="icon ion-checkmark-circled balanced icon-input-left"></i>
                    <ion-spinner ng-if="signUpForm.email.$pending" icon="spiral"></ion-spinner>
                </label>
                <label class="item item-input" ng-class="{ 'has-error' : signUpForm.zipCode.$invalid && (signUpForm.zipCode.$dirty || signUpForm.$submitted)}">
                    <input id="zipCode" name="zipCode" type="text" placeholder="Codi postal" ng-model="ctrl.userAccountInfo.zipCode" required>
                    <i ng-if="signUpForm.zipCode.$invalid && (signUpForm.zipCode.$dirty || signUpForm.$submitted)" class="icon ion-alert-circled assertive icon-input-left"></i>
                </label>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit" class="button button-block button-positive">
                        Crear compte
                    </button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>