<div class="row" ng-repeat="item in ctrl.items" ng-if="$even">
    <div class="col">
        <tk-item-card ng-model="ctrl.items[$index]" my-profile-id="ctrl.myProfileId" selectable="ctrl.multiselect"></tk-item-card>
    </div>
    <div class="col">
        <tk-item-card ng-if="ctrl.items[$index+1]" ng-model="ctrl.items[$index+1]" my-profile-id="ctrl.myProfileId" selectable="ctrl.multiselect"></tk-item-card>
    </div>
</div>
