.profile-bg {
    height:120px;
    background: url('../../common/assets/pictures/menu_profile_bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.profile-header {
    position: relative;
    background-color: lightgreen;
    box-shadow: 0px -1px 10px rgba(0,0,0,0.4);
    padding-top: 70px;
}

.profile-info {
    position: absolute;
    top: -95px;
    width: 100%;
    z-index: 2;
    text-align: center;
}

.profile-image {
    display: block;
    border-radius: 100px;
    border: 1px solid #fff;
    width: 128px;
    height: 128px;
    margin: 30px auto 0;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
}