<ion-view>
    <ion-nav-title>
        <trueking-Logo-title>Desitjos</trueking-Logo-title>
    </ion-nav-title>
    <ion-content>
        <tags-manager ng-model="ctrl.profile.wishedTags" ng-disabled="!ctrl.canEditWishes"
                      list-title="Buscant" on-select="ctrl.selectTag()" on-delete="ctrl.selectTag()" ></tags-manager>
    </ion-content>
</ion-view>