<ion-modal-view  class="image-modal" ng-click="ctrl.closeDetailModal()">
    <ion-scroll zooming="true"
                direction="xy"
                delegate-handle="zoom-pane"
                class="zoom-pane"
                min-zoom="1"
                scrollbar-x="false"
                scrollbar-y="false"
                overflow-scroll="false">
        <img ng-src="{{ctrl.image}}" >
    </ion-scroll>
</ion-modal-view>