<ion-view cache-view="false" title="sign-in">
    <ion-content>
		<br>
		<br>
        <form id="signInForm" name="signInForm" ng-submit="signInForm.$valid && ctrl.login()" novalidate>
            <div class="list list-inset">
                <label class="item item-input" ng-class="{ 'has-error' : signInForm.userName.$invalid && (signInForm.userName.$dirty || signInForm.$submitted)}">
                    <input id="userName" name="userName" type="text" placeholder="Usuari" ng-model="ctrl.credentials.userName" required>
                    <i ng-if="signInForm.userName.$invalid && (signInForm.userName.$dirty || signInForm.$submitted)" class="icon ion-alert-circled assertive icon-input-left"></i>
                </label>
                <label class="item item-input" ng-class="{ 'has-error' : signInForm.password.$invalid && (signInForm.password.$dirty || signInForm.$submitted)}">
                    <i class="icon ion-ios-eye-outline placeholder-icon"></i>
                    <input id="password" name="password" type="password" placeholder="Contrasenya" ng-model="ctrl.credentials.password" required>
                    <i ng-if="signInForm.password.$invalid && (signInForm.password.$dirty || signInForm.$submitted)" class="icon ion-alert-circled assertive icon-input-left"></i>
                </label>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="button button-block button-positive">
                        Entrar
                    </button>
                </div>
            </div>
        </form>
		<div class="row">
			<div class="col centered-col-content">
				<button type="button" class="button-clear" style="color:white;" on-tap="ctrl.forgotPasswordPopup()">He oblidat la contrasenya</button>
			</div>
		</div>
    </ion-content>
</ion-view>