<ion-view cache-view="false">
    <ion-nav-title>
        <trueking-Logo-title>Article</trueking-Logo-title>
    </ion-nav-title>
    <form id="itemForm" name="itemForm" ng-submit="itemForm.$valid && ctrl.submitItem()" novalidate>
        <ion-content>
			<fieldset ng-disabled="ctrl.constructor.name === 'DetailItemCtrl' || ctrl.item.historic">
				<div class="list list-inset">
					<label class="item item-input" ng-class="{ 'has-error' : itemForm.name.$invalid && (itemForm.name.$dirty || itemForm.$submitted)}">
						<input type="text" id="name" name="name" placeholder="Nom del article" ng-model="ctrl.item.name" required>
						<i ng-if="itemForm.name.$invalid && (itemForm.name.$dirty || itemForm.$submitted)" class="icon ion-alert-circled assertive icon-input-left"></i>
					</label>
					<label class="item item-input" ng-class="{ 'has-error' : itemForm.description.$invalid && (itemForm.description.$dirty || itemForm.$submitted)}">
						<textarea type="text" id="description" name="description" placeholder="Descripció" ng-model="ctrl.item.description"></textarea>
						<i ng-if="itemForm.description.$invalid && (itemForm.description.$dirty || itemForm.$submitted)" class="icon ion-alert-circled assertive icon-input-left"></i>
					</label>
				</div>
			</fieldset>

			<div class="card" style="padding: 0;">
				<div class="button-bar" ng-if="ctrl.constructor.name !== 'DetailItemCtrl' && !ctrl.item.historic">
					<button type="button" ng-disabled="ctrl.item.imgs.length >=3" on-tap="ctrl.takePictureFromCamera()" class="button button-balanced"><i class="icon ion-camera"></i></button>
					<button type="button" ng-disabled="ctrl.item.imgs.length >=3" on-tap="ctrl.takePictureFromGallery()" class="button button-balanced"><i class="icon ion-images"></i></button>
				</div>

				<images-gallery id="images" name="images" ng-if="ctrl.item.imgs.length" ng-model="ctrl.item.imgs"
								ng-disabled="ctrl.constructor.name === 'DetailItemCtrl' || ctrl.item.historic">
				</images-gallery>
			</div>

			<tags-manager ng-model="ctrl.item.tags" ng-disabled="ctrl.constructor.name === 'DetailItemCtrl' || ctrl.item.historic"></tags-manager>

			<div class="col" style="margin-bottom: 35px">
				<button type="button" ng-if="ctrl.constructor.name === 'EditItemCtrl' && !ctrl.item.historic" class="button button-block button-assertive" on-tap="ctrl.deleteItem()">
					Esborrar oferta
				</button>
			</div>

			<div class="col" style="margin-bottom: 35px">
				<button type="button" ng-if="ctrl.constructor.name === 'DetailItemCtrl'" class="button button-block button-positive icon ion-person"
						on-tap="ctrl.navigateToUserProfile()">
					Informació del propietari
				</button>
			</div>

        </ion-content>

		<ion-footer-bar style="padding: 0;border-top:0px transparent" ng-if="ctrl.constructor.name === 'DetailItemCtrl' && !ctrl.item.historic">
			<div class="button-bar">
				<button type="submit" class="button button-balanced icon ion-paper-airplane" ui-sref="newTrueking({wishedItem:ctrl.item.id})">Oferir intercanvi</button>
			</div>
		</ion-footer-bar>

        <ion-footer-bar style="padding: 0;border-top:0px transparent" ng-if="ctrl.constructor.name !== 'DetailItemCtrl' && !ctrl.item.historic">
            <div class="button-bar">
                <button type="button" class="button button-light" on-tap="ctrl.cancelCreation()">Cancel·lar</button>
                <button type="submit" class="button button-balanced">Desar</button>
            </div>
        </ion-footer-bar>
    </form>
</ion-view>
